<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/javascripts/scripts.js"></script>
</body>

<footer>
    <p>&copy; Copyright 2020 The Awesome People</p>
    <button id="scrollToTopBtn">Top</button>
</footer>

</html>