<%- include ('./partials/header.ejs') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-auto" style="margin: 5rem">
      <h1 class="text-center"><span class="oi oi-person"></span> Contatti</h1>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2">
      <div class="col" style="margin-top: 10px; margin-bottom: 10px;">
        <h1>Direttore:</h1>
        <h3><strong>Nome:</strong> Luciano Musso</h3>
        <h3><strong>Email: </strong><a href= "mailto:luciano.musso@gmail.com">luciano.musso@gmail.com</a></h3>
        <h3><strong>Telefono:</strong> 345 1234345</h3>
      </div>
      <div class="col" style="margin-top: 10px; margin-bottom: 10px;">
        <h1>Amministratore fiere:</h1>
        <h3><strong>Nome:</strong> Francesca Raviola</h3>
        <h3><strong>Email: </strong><a href= "mailto:francesca.raviola@gmail.com">francesca.raviola@gmail.com</a></h3>
        <h3><strong>Telefono:</strong> 345 1234567</h3>
      </div>
      <div class="col" style="margin-top: 10px; margin-bottom: 10px;">
        <h1>Gestore edifici:</h1>
        <h3><strong>Nome:</strong> Stefano Palumbo</h3>
        <h3><strong>Email: </strong><a href= "mailto:stefano.palumbo@gmail.com">stefano.palumbo@gmail.com</a></h3>
        <h3><strong>Telefono:</strong> 345 0987654</h3>
      </div>
      <div class="col" style="margin-top: 10px; margin-bottom: 10px;">
        <h1>Pubblicitario:</h1>
        <h3><strong>Nome:</strong> Alberto Nebiolo</h3>
        <h3><strong>Email: </strong><a href= "mailto:alberto.nebiolo@gmail.com">alberto.nebiolo@gmail.com</a></h3>
        <h3><strong>Telefono:</strong> 345 1946392</h3>
      </div>
      
  </div>
</div>

<%- include ('./partials/footer.ejs') %>