<%- include ('./partials/header.ejs') %>

<div class="container">
  <div class="row justify-content-center">
    <%- include ('./partials/messages.ejs') %>
    <div class="col text-center m5">
      <img src="<%= qr_code %>" alt="QR Code" class="qr-code">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col text-center">
      <a
        class="btn btn-primary center-button"
        href="/dashboard"
        >Chiudi</a
      >
    </div>
  </div>
</div>
