.btn-primary {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-primary:hover {
  background-color: #1dc8e2;
  border-color: #1dc8e2;
}

.btn-outline-primary {
  color: #fff;
  border-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #1dc8e2;
  border-color: #1dc8e2;
}

.border-info {
  border-width: 2px;
}

.photo {
  object-fit: cover;
  width: auto;
  height: 20rem;
}

.form-group {
  margin: 1rem;
}

.nav-pills .nav-link.active {
  background-color: #1dc8e2 !important;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
